extends ../layout/default

block content
    .breadcrumbs.section
        ul._list
            li._item
                a(href="/")._item-text Главная

            li._item
                span._item-text Доставка и установка


    section.deliv.section.page__deliv
        h2._title.section__title.section__title--circle.page__title Доставка
            span и установка

        ._columns
            ._c-deliv
                ._icon
                    svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M25 7.20864V7.19864L32.485 10.5511L40 7.73364L20 0.233643L0 7.73364L20 15.2336L27.485 12.4261L20 9.34114V9.33364L25 7.20864Z' fill='url(#paint088_linear)')
                        path(d='M0 10.2336V32.7336L18.75 39.7661V17.2661L0 10.2336ZM10 32.8161L5 30.9411V28.2736L10 30.1486V32.8161Z' fill='url(#paint177_linear)')
                        path(d='M32.5 13.0461V19.3086L27.5 21.1836V14.9211L21.25 17.2661V39.7661L40 32.7336V10.2336L32.5 13.0461Z' fill='url(#paint288_linear)')
                        defs
                            lineargradient#paint088_linear(x1='40.6857' y1='-7.39136' x2='-18.3272' y2='46.5633' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')
                            lineargradient#paint177_linear(x1='19.0714' y1='-4.77872' x2='-29.4167' y2='5.77608' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')
                            lineargradient#paint288_linear(x1='40.3214' y1='-4.77872' x2='-8.16674' y2='5.77608' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')


                p._text
                    span Доставка
                    |  осуществляется транспортными компании в любую точку мира и рассчитывается индивидуально менеджером согласно заказанным товарным позициям

            ._c-mont
                ._icon
                    svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip11)')
                            path(d='M22.1305 19.1744C22.5913 18.9387 23.1046 18.8141 23.6372 18.8141C24.5199 18.8141 25.3497 19.1568 25.9752 19.7791L27.3218 18.4326C30.6541 19.6007 34.5082 18.8529 37.1722 16.1891C39.4136 13.9476 40.2976 10.8637 39.8257 7.95668C39.7738 7.63655 39.5471 7.3725 39.2386 7.27288C38.93 7.17313 38.5913 7.25419 38.3621 7.48358L36.3627 9.48297C34.7345 11.1112 32.0944 11.1112 30.4662 9.48297C28.8378 7.85474 28.8378 5.21468 30.4662 3.58645L32.4656 1.58706C32.695 1.35767 32.7767 1.01898 32.6768 0.710313C32.5771 0.401507 32.3126 0.175395 31.9923 0.123404C29.0855 -0.34847 26.0014 0.53551 23.7601 2.77698C21.0565 5.4805 20.3289 9.40942 21.5723 12.7752L18.6519 15.6957L22.1305 19.1744Z' fill='url(#paint0w_linear)')
                            path(d='M16.8087 24.4667L13.3447 21.0027L1.23191 33.1153C-0.343092 34.6903 -0.343092 37.2439 1.23191 38.8189C2.80692 40.3939 5.36047 40.3939 6.93548 38.8189L17.3774 28.3771C16.3242 27.3183 16.1344 25.7198 16.8087 24.4667Z' fill='url(#paint1ee_linear)')
                            path(d='M24.5349 21.2325C24.2872 20.9848 23.9624 20.8609 23.6378 20.8609C23.3132 20.8609 22.9884 20.9848 22.7407 21.2325L22.0176 21.9556L9.13703 9.07494L9.73908 8.47289C10.2876 7.92446 10.2196 7.01469 9.5943 6.55428L4.339 2.6839C3.83397 2.31205 3.13312 2.36486 2.68963 2.80835L0.458255 5.03986C0.0147645 5.48335 -0.038045 6.18434 0.333805 6.68924L4.20405 11.9445C4.66446 12.5697 5.57368 12.6384 6.12266 12.0893L6.72471 11.4871L19.6053 24.3677L18.8313 25.1417C18.3358 25.6372 18.3358 26.4404 18.8313 26.9359L30.714 38.8186C32.289 40.3936 34.8426 40.3936 36.4176 38.8186C37.9926 37.2436 37.9926 34.69 36.4176 33.115L24.5349 21.2325Z' fill='url(#paint2tt_linear)')
                        defs
                            lineargradient#paint0w_linear(x1='40.314' y1='-10.054' x2='-10.4517' y2='8.68745' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')
                            lineargradient#paint1ee_linear(x1='17.6745' y1='11.3456' x2='-25.076' y2='24.714' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')
                            lineargradient#paint2tt_linear(x1='38.2419' y1='-16.6578' x2='-52.701' y2='14.4804' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')
                            clippath#clip11
                                rect(width='40' height='40' fill='white')

                p._text
                    span Монтаж
                    |  осуществляется самостоятельно согласно поставляемой с изделиями инструкцией или установщиками IzoCab™ вне зависимости от географии заказа
