extends ../layout/default

block content

    section.t-catalog.section
        ul._list
            li._item
                a(href="#")._link Vocaton <sub>™</sub>
            li._item
                a(href="#")._link Vocaton <sub>™</sub> Air
            li._item
                a(href="#")._link Vocaton <sub>™</sub> Air Plus
            li._item
                a(href="#")._link Vocaton <sub>™</sub> Exclusive
            li._item
                a(href="#")._link Vocaton <sub>™</sub> Конструктор

    section.first.section
        ._info
            h1._title Vocaton

            p._desc Вокальные звукоизоляционные кабинки лучшего качества

            ._btns
                a(href="#")._button.button
                    span._desktop Перейти
                    span._mobile Модельный ряд

                a(href="#")._share
                    svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M20 9.88294L11.5314 1.41431V7.05446C5.16281 7.05446 0 12.2173 0 18.5859C2.33957 14.3214 6.98141 12.1225 11.5314 12.6861V18.3515L20 9.88294Z' fill='url(#paint055_linear)')
                        defs
                            lineargradient#paint055_linear(x1='20.3429' y1='-7.31458' x2='-26.3782' y2='11.3426' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')
                    svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' class="active")
                        path(d='M20 9.88294L11.5314 1.41431V7.05446C5.16281 7.05446 0 12.2173 0 18.5859C2.33957 14.3214 6.98141 12.1225 11.5314 12.6861V18.3515L20 9.88294Z' fill='#fff')


        ._gallery
            ._container.swiper-container
                ._wrapper.swiper-wrapper

                    ._slide.swiper-slide
                        a(href="img/first-gallery_1.jpg" data-fancybox)._img
                            img(src="img/first-gallery_1.jpg", alt="Vocaton")

                    ._slide.swiper-slide
                        a(href="img/first-gallery_2.jpg" data-fancybox)._img
                            img(src="img/first-gallery_2.jpg", alt="Vocaton")

                    ._slide.swiper-slide
                        a(href="img/first-gallery_3.jpg" data-fancybox)._img
                            img(src="img/first-gallery_3.jpg", alt="Vocaton")

                    ._slide.swiper-slide
                        a(href="img/first-gallery_4.jpg" data-fancybox)._img
                            img(src="img/first-gallery_4.jpg", alt="Vocaton")

                    ._slide.swiper-slide
                        a(href="img/first-gallery_5.jpg" data-fancybox)._img
                            img(src="img/first-gallery_5.jpg", alt="Vocaton")


                ._pagination.swiper-pagination

                ._prev.swiper-button-prev
                    ._prev-wrap
                        span Назад
                        svg(width='30' height='17' viewBox='0 0 30 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                            line(y1='8.5' x2='30' y2='8.5' stroke='#171F36')
                            mask#mask0(mask-type='alpha' maskUnits='userSpaceOnUse' x='19' y='0' width='11' height='17')
                                rect(x='19' width='11' height='17' fill='#C4C4C4')
                            g(mask='url(#mask0)')
                                circle(cx='30' cy='-2' r='10.5' stroke='#171F36')
                                circle(cx='30' cy='19' r='10.5' stroke='#171F36')


                ._next.swiper-button-next
                    ._next-wrap
                        span Дальше
                        svg(width='30' height='17' viewBox='0 0 30 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                            line(y1='8.5' x2='30' y2='8.5' stroke='#171F36')
                            mask#mask0(mask-type='alpha' maskUnits='userSpaceOnUse' x='19' y='0' width='11' height='17')
                                rect(x='19' width='11' height='17' fill='#C4C4C4')
                            g(mask='url(#mask0)')
                                circle(cx='30' cy='-2' r='10.5' stroke='#171F36')
                                circle(cx='30' cy='19' r='10.5' stroke='#171F36')


    section.goods.section
        h2._title.section__title.section__title--circle Наши товары

        ._list

            ._item
                a(href="#")._item-link
                    p._name
                        span._count 01

                        span._name-text Vocaton<sub>™</sub>

                    ._img-wrap
                        ._actions
                            ._action.goods__time
                                p._action-text Успей купить

                            ._action.goods__sale
                                p._action-text -25
                                    span %

                        img(src="img/goods/1.png", alt="Vocaton")

                    p._type Базовая изоляция

                    ._prices
                        p._old-price 61 000
                            span ₽

                        p._price 45 750
                            span ₽

                ._btns
                    button(type="button")._btn.goods__btn-cart.button-reverse В корзину

                    button(type="button")._btn.goods__btn-cred.button-reverse
                        span В кредит


            ._item
                a(href="#")._item-link
                    p._name
                        span._count 02

                        span._name-text Vocaton<sub>™</sub> Air

                    ._img-wrap
                        img(src="img/goods/2.png", alt="Vocaton")

                    p._type Базовая изоляция

                    ._prices
                        p._old-price 99 000
                            span ₽

                        p._price 84 150
                            span ₽

                ._btns
                    button(type="button")._btn.goods__btn-cart.button-reverse В корзину

                    button(type="button")._btn.goods__btn-cred.button-reverse
                        span В кредит


            ._item
                a(href="#")._item-link
                    p._name
                        span._count 03

                        span._name-text Vocaton<sub>™</sub> Mega

                    ._img-wrap
                        ._actions
                            ._action.goods__percent
                                p._action-text %

                            ._action.goods__sale
                                p._action-text -10
                                    span %

                        img(src="img/goods/3.png", alt="Vocaton")

                    p._type Продвинутая изоляция

                    ._prices
                        p._old-price 179 000
                            span ₽

                        p._price 161 100
                            span ₽

                ._btns
                    button(type="button")._btn.goods__btn-cart.button-reverse В корзину

                    button(type="button")._btn.goods__btn-cred.button-reverse
                        span В кредит


            ._item
                a(href="#")._item-link
                    p._name
                        span._count 04

                        span._name-text Vocaton<sub>™</sub> Extra

                    ._img-wrap
                        img(src="img/goods/4.png", alt="Vocaton")

                    p._type Продвинутая изоляция

                    ._prices
                        p._price 45 750
                            span ₽

                ._btns
                    button(type="button")._btn.goods__btn-cart.button-reverse В корзину

                    button(type="button")._btn.goods__btn-cred.button-reverse
                        span В кредит


    section.calc.section
        h2._title.section__title Кабинка по вашим размерам

        ._columns
            ._left
                p._desc Звукоизоляционная кабина <span>Vocaton™ по вашим размерам</span> позволит Вам полноценно заниматься творчеством и мультимедиа продакшном в правильной акустике

                //- ._l-img
                //-     img(src="img/calc-img2.png", alt="Vocaton")

            ._right
                ._item.calc__f-item.active
                    ._header
                        ._number
                            span._number-prev Шаг
                            span._number-text 01

                        ._h-desc
                            p._h-name Параметры кабинки
                            p._h-desc-name Заполните обязательные поля ( <span>*</span> ) для перехода к следующему шагу

                        button(type="button")._f-check.button-reverse.disable

                            span Просмотреть

                            i
                                svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M2.0249 13.0585L13.4316 1.6435C13.5491 1.52516 13.7082 1.4585 13.8741 1.4585H13.8749C14.0407 1.4585 14.1999 1.52433 14.3166 1.64183L18.3582 5.6835C18.4757 5.801 18.5416 5.96016 18.5416 6.12516C18.5416 6.291 18.4757 6.45016 18.3582 6.56766L6.94157 17.976L2.0249 13.0585Z' fill='black')
                                    path(d='M18.8066 4.9523L19.2175 4.54147C19.7216 4.03647 20 3.37063 20 2.66647C20 1.94647 19.72 1.27647 19.2191 0.784799C18.2175 -0.226867 16.4566 -0.226034 15.4575 0.783133L15.0466 1.19397L18.8066 4.9523Z' fill='black')
                                    path(d='M1.6865 13.8985L0.0281712 19.1885C-0.0409955 19.4102 0.0181712 19.6527 0.183171 19.8168C0.301505 19.936 0.461505 20.0002 0.624838 20.0002C0.687338 20.0002 0.749838 19.991 0.812338 19.9718L6.1015 18.3135L1.6865 13.8985Z' fill='black')
                                    path(d='M5.808 7.32331C5.968 7.32331 6.128 7.26248 6.24966 7.13998L10.2847 3.10497C10.5005 2.88997 10.7888 2.80497 11.0713 2.82581L12.058 1.83831C11.2047 1.38164 10.1197 1.50247 9.4005 2.22081L5.3655 6.25581C5.12133 6.49998 5.12133 6.89581 5.3655 7.13998C5.488 7.26164 5.64716 7.32331 5.808 7.32331Z' fill='black')

                    ._item-content
                        ._c-columns
                            ._c-column
                                ._c-item
                                    label._label(for="budget") Ваш бюджет <span>*</span>
                                    input._input(type="text" placeholder="50 - 100 тыс." name="budget" id="budget")

                                ._c-item
                                    label._label(for="size") Размер кабинки (см) и кол-во в ней человек <span>*</span>
                                    input._input(type="text" placeholder="160*160*200 см / 2 человека" name="size" id="size")


                            ._c-column
                                ._c-item
                                    label._label(for="type") Назначение кабины
                                    input._input(type="text" placeholder="Озвучивание фильмов" name="type" id="type")

                                ._c-item
                                    label._label(for="sound") Выберите степень звукоизоляции
                                    select._select(type="text" name="sound" id="sound")
                                        option  Стандартная
                                        option  Продвинутая



                        ._c-columns
                            ._c-column
                                ._c-item
                                    p._label Цвет кабинки внутри
                                    ._c-colors
                                        label._c-color(for="c-purple" style="background: #8343A3")
                                            input(type="radio" id="c-purple")

                                    //- select._select.color-inner(type="text" name="color" id="color")
                                    //-     option  Красный
                                    //-     option  Черный
                                    //-     option  Бордовый
                                    //-     option  Голубой
                                    //-     option  Желтый
                                    //-     option  Зеленый
                                    //-     option  Розовый
                                    //-     option  Синий
                                    //-     option  Фиолетовый
                                    //-     option  Оранжевый

                            ._c-column
                                ._c-item
                                    label._label(for="color") Цвет кабинки снаружи
                                    select._select.color-outer(type="text" name="color" id="color")
                                        option  Бежевый
                                        option  Красный
                                        option  Черный
                                        option  Синий
                                        option  Графит
                                        option  Сталь

                        ._c-item.calc__f-last-item
                            label._label(for="design") Укажите ссылку на файл с чертежом
                            input._input(type="text" placeholder="www.dropbox.com/doc_1" name="design" id="design")

                        ._h-desc-name.mobile
                            p Заполните обязательные поля ( <span>*</span> ) для перехода к следующему шагу

                ._item.calc__s-item.non-active
                    ._header
                        ._number
                            span._number-prev Шаг
                            span._number-text 02

                        ._h-desc
                            p._h-name Данные для связи
                            p._h-desc-name Заполните обязательные поля ( <span>*</span> ) для перехода к следующему шагу

                        button(type="button")._s-check.button-reverse
                            span Просмотреть

                        button(type="button")._s-mobile
                            span.see
                                svg(width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M21.9311 10.5425C21.7479 10.2678 17.9019 3.67465 11.0341 3.67465C4.16623 3.67465 0.320281 10.2678 0.137124 10.5425C-0.0460334 10.8172 -0.0460334 11.1835 0.137124 11.4582C0.320281 11.7329 4.16628 18.3261 11.0341 18.3261C17.902 18.3261 21.748 11.7329 21.9311 11.4582C22.0227 11.1835 22.0227 10.8172 21.9311 10.5425ZM11.0341 15.5789C8.4701 15.5789 6.45554 13.5644 6.45554 11.0004C6.45554 8.43639 8.4701 6.42179 11.0341 6.42179C13.5982 6.42179 15.6127 8.43635 15.6127 11.0004C15.6127 13.5644 13.5981 15.5789 11.0341 15.5789Z' fill='#171F36')
                                    path(d='M11.035 8.25327C9.47826 8.25327 8.28784 9.44368 8.28784 11.0004C8.28784 12.5571 9.47826 13.7475 11.035 13.7475C12.5917 13.7475 13.7821 12.5571 13.7821 11.0004C13.7821 9.44368 12.5917 8.25327 11.035 8.25327ZM11.9507 11.0004C11.4013 11.0004 11.035 10.6341 11.035 10.0847C11.035 9.53528 11.4013 9.16901 11.9507 9.16901C12.5001 9.16901 12.8664 9.53528 12.8664 10.0847C12.8664 10.6341 12.5001 11.0004 11.9507 11.0004Z' fill='#171F36')


                            span.edit
                                svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M2.0249 13.0585L13.4316 1.6435C13.5491 1.52516 13.7082 1.4585 13.8741 1.4585H13.8749C14.0407 1.4585 14.1999 1.52433 14.3166 1.64183L18.3582 5.6835C18.4757 5.801 18.5416 5.96016 18.5416 6.12516C18.5416 6.291 18.4757 6.45016 18.3582 6.56766L6.94157 17.976L2.0249 13.0585Z' fill='black')
                                    path(d='M18.8066 4.9523L19.2175 4.54147C19.7216 4.03647 20 3.37063 20 2.66647C20 1.94647 19.72 1.27647 19.2191 0.784799C18.2175 -0.226867 16.4566 -0.226034 15.4575 0.783133L15.0466 1.19397L18.8066 4.9523Z' fill='black')
                                    path(d='M1.6865 13.8985L0.0281712 19.1885C-0.0409955 19.4102 0.0181712 19.6527 0.183171 19.8168C0.301505 19.936 0.461505 20.0002 0.624838 20.0002C0.687338 20.0002 0.749838 19.991 0.812338 19.9718L6.1015 18.3135L1.6865 13.8985Z' fill='black')
                                    path(d='M5.808 7.32331C5.968 7.32331 6.128 7.26248 6.24966 7.13998L10.2847 3.10497C10.5005 2.88997 10.7888 2.80497 11.0713 2.82581L12.058 1.83831C11.2047 1.38164 10.1197 1.50247 9.4005 2.22081L5.3655 6.25581C5.12133 6.49998 5.12133 6.89581 5.3655 7.13998C5.488 7.26164 5.64716 7.32331 5.808 7.32331Z' fill='black')



                    ._item-content
                        ._c-columns
                            ._c-column
                                ._c-item
                                    label._label(for="name") Ваше имя <span>*</span>
                                    input._input(type="text" placeholder="Иван" name="name" id="name")

                                ._c-item
                                    label._label(for="city") Город
                                    input._input(type="text" placeholder="Москва" name="city" id="city")

                                ._c-item
                                    label._label(for="comment") Комментарий
                                    textarea._textarea(name="comment" placeholder="Ваше сообщение")

                            ._c-column
                                ._c-item
                                    label._label(for="number") Номер телефона
                                    input._input(type="text" placeholder="+7 (985) 785-65-83" name="number" id="number")

                                ._c-item
                                    label._label(for="address") Адрес
                                    input._input(type="text" name="address" id="address" placeholder="Ленинградская, 158/5, кв. 7")

                                ._c-item
                                    label._label(for="email") E-mail
                                    input._input(type="text" name="email" id="email" placeholder="ivanka@yandex.ru")

                ._btns
                    button._zapr.button-reverse Запросить стоимость

                    a(href="#")._order.button
                        span Оформить


    section.about
        .section
            h2.about__title.section__title.section__title--circle О кабинах <span>Vocaton<sub>™</sub></span>

            .about__content
                p.about__text-block.about__f-block Vocatov™ — это твое личное пространство, звукоизоляционная кабина, где тебя больше никто не потревожит, и ты никого не побеспокоишь. Она собирается легко, как конструктор, в ней есть вентиляция и все удобства для работы. Отныне концентрируйся только на себе и своих талантах. Настало время достижений — обрети абсолютную свободу с Vocatov™.

                .about__img
                    img(src="img/about-img.png", alt="О кабинах")

                p.about__text-block.about__s-block Среди клиентов Vocatov™ ведущие телерадиовещательные компании СНГ, мировые производители развлекательного контента, известные музыканты и артисты, продюсерские центры и продакшн-студии, а также бесчисленное количество творческих людей.

    section.for.section
        h1._title.section__title.section__title--circle Для кого <span class="block">подходят</span> кабины <span>Vocaton<sub>™</sub></span>

        ._columns
            ._left
                ul._list
                    li._item(data-item='1').active
                        ._header
                            span._number 01
                            span._text Музыкантам, вокалистам
                            span._plus
                                svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(x='4' width='2' height='10' fill='#8792AE' class="rect-height")
                                    rect(y='6' width='2' height='10' transform='rotate(-90 0 6)' fill='#8792AE')

                            span._arrow
                                svg(width='151' height='30' viewBox='0 0 151 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(y='14' width='149' height='2' fill='#171F36')
                                    path(d='M135.143 0.85791L149.285 15L135.143 29.1422' stroke='#171F36' stroke-width='2')

                        ._content
                            ._right-item
                                ._img
                                    img(src="img/for_img.png", alt="Для кого подходит")

                                ._r-text
                                    span Пойте,
                                    span записывайте дома

                    li._item(data-item='2')
                        ._header
                            span._number 02
                            span._text Продюсерам, звукоинженерам
                            span._plus
                                svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(x='4' width='2' height='10' fill='#8792AE' class="rect-height")
                                    rect(y='6' width='2' height='10' transform='rotate(-90 0 6)' fill='#8792AE')

                            span._arrow
                                svg(width='151' height='30' viewBox='0 0 151 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(y='14' width='149' height='2' fill='#171F36')
                                    path(d='M135.143 0.85791L149.285 15L135.143 29.1422' stroke='#171F36' stroke-width='2')

                        ._content
                            ._right-item
                                ._img
                                    img(src="img/for_img.png", alt="Для кого подходит")

                                ._r-text
                                    span Делайте мастеринг
                                    span и сведение

                    li._item(data-item='3')
                        ._header
                            span._number 03
                            span._text Блогерам, стримерам
                            span._plus
                                svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(x='4' width='2' height='10' fill='#8792AE' class="rect-height")
                                    rect(y='6' width='2' height='10' transform='rotate(-90 0 6)' fill='#8792AE')

                            span._arrow
                                svg(width='151' height='30' viewBox='0 0 151 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(y='14' width='149' height='2' fill='#171F36')
                                    path(d='M135.143 0.85791L149.285 15L135.143 29.1422' stroke='#171F36' stroke-width='2')

                        ._content
                            ._right-item
                                ._img
                                    img(src="img/for_img.png", alt="Для кого подходит")

                                ._r-text
                                    span Записывайте видео,
                                    span ведите стримы

                    li._item(data-item='4')
                        ._header
                            span._number 04
                            span._text Спикерам, дикторам
                            span._plus
                                svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(x='4' width='2' height='10' fill='#8792AE' class="rect-height")
                                    rect(y='6' width='2' height='10' transform='rotate(-90 0 6)' fill='#8792AE')

                            span._arrow
                                svg(width='151' height='30' viewBox='0 0 151 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(y='14' width='149' height='2' fill='#171F36')
                                    path(d='M135.143 0.85791L149.285 15L135.143 29.1422' stroke='#171F36' stroke-width='2')

                        ._content
                            ._right-item
                                ._img
                                    img(src="img/for_img.png", alt="Для кого подходит")

                                ._r-text
                                    span Репетируйте,
                                    span записывайте голос

                    li._item(data-item='5')
                        ._header
                            span._number 05
                            span._text Мультимедиа продакшнам
                            span._plus
                                svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(x='4' width='2' height='10' fill='#8792AE' class="rect-height")
                                    rect(y='6' width='2' height='10' transform='rotate(-90 0 6)' fill='#8792AE')

                            span._arrow
                                svg(width='151' height='30' viewBox='0 0 151 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(y='14' width='149' height='2' fill='#171F36')
                                    path(d='M135.143 0.85791L149.285 15L135.143 29.1422' stroke='#171F36' stroke-width='2')

                        ._content
                            ._right-item
                                ._img
                                    img(src="img/for_img.png", alt="Для кого подходит")

                                ._r-text
                                    span Озвучивайте фильмы,
                                    span радио, ТВ-шоу

                    li._item(data-item='6')
                        ._header
                            span._number 06
                            span._text Офисам, call-центрам
                            span._plus
                                svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(x='4' width='2' height='10' fill='#8792AE' class="rect-height")
                                    rect(y='6' width='2' height='10' transform='rotate(-90 0 6)' fill='#8792AE')

                            span._arrow
                                svg(width='151' height='30' viewBox='0 0 151 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(y='14' width='149' height='2' fill='#171F36')
                                    path(d='M135.143 0.85791L149.285 15L135.143 29.1422' stroke='#171F36' stroke-width='2')

                        ._content
                            ._right-item
                                ._img
                                    img(src="img/for_img.png", alt="Для кого подходит")

                                ._r-text
                                    span Ведите переговоры,
                                    span работайте в тишине

            ._right
                ._right-item.for__right-1
                    ._img
                        img(src="img/for_img.png", alt="Для кого подходит")

                    ._r-text
                        span Пойте,
                        span записывайте дома
                ._right-item.for__right-2
                    ._img
                        img(src="img/for_img.png", alt="Для кого подходит")

                    ._r-text
                        span Делайте мастеринг
                        span и сведение
                ._right-item.for__right-3
                    ._img
                        img(src="img/for_img.png", alt="Для кого подходит")

                    ._r-text
                        span Записывайте видео,
                        span ведите стримы
                ._right-item.for__right-4
                    ._img
                        img(src="img/for_img.png", alt="Для кого подходит")

                    ._r-text
                        span Репетируйте,
                        span записывайте голос
                ._right-item.for__right-5
                    ._img
                        img(src="img/for_img.png", alt="Для кого подходит")

                    ._r-text
                        span Озвучивайте фильмы,
                        span радио, ТВ-шоу
                ._right-item.for__right-6
                    ._img
                        img(src="img/for_img.png", alt="Для кого подходит")

                    ._r-text
                        span Ведите переговоры,
                        span работайте в тишине


    section.youtube
        .section
            .youtube__header
                h2._title.section__title YouTube лента

                .youtube__btns
                    a.button.youtube__button(href="youtube.com") наш youtube канал

                    a(href="#").first__share.youtube__share

                        svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M20 9.88294L11.5314 1.41431V7.05446C5.16281 7.05446 0 12.2173 0 18.5859C2.33957 14.3214 6.98141 12.1225 11.5314 12.6861V18.3515L20 9.88294Z' fill='#F70000')


            p.youtube__desc На нашем youtube канале вы можете ознакомиться с обзорами, отзывами и тестами наших кабинок


        ._container.swiper-container
            ._wrapper.swiper-wrapper

                a(href="https://www.youtube.com/watch?v=I-zPNQYHSvU" data-fancybox)._slide.swiper-slide
                    ._img
                        img(src="img/youtube_video-1.jpg" alt="youtube")

                        ._play
                            img(src="img/youtube_play-btn.svg" alt="play button")

                    p._desc-slide Обзор акустической вокальной кабинки IzoKab




                a(href="https://www.youtube.com/watch?v=I-zPNQYHSvU" data-fancybox)._slide.swiper-slide
                    ._img
                        img(src="img/youtube_video-2.jpg" alt="youtube")

                        ._play
                            img(src="img/youtube_play-btn.svg" alt="play button")

                    p._desc-slide Обзор акустической вокальной кабинки IzoKab




                a(href="https://www.youtube.com/watch?v=I-zPNQYHSvU" data-fancybox)._slide.swiper-slide
                    ._img
                        img(src="img/youtube_video-3.jpg" alt="youtube")

                        ._play
                            img(src="img/youtube_play-btn.svg" alt="play button")

                    p._desc-slide Обзор акустической вокальной кабинки IzoKab

            ._pagination.swiper-pagination.first__pagination.yt-pag


        .section
            .youtube__scrollbar.swiper-scrollbar

            .youtube__nav-btns
                .youtube__prev.swiper-button-prev.yt-prev
                    svg(width='40' height='18' viewBox='0 0 40 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M30.5 16.5L38 9L30.5 1.5' stroke='#171F36' stroke-width='2')
                        rect(width='38' height='2' transform='matrix(-1 0 0 1 38 8)' fill='#171F36')

                .youtube__next.swiper-button-next.yt-next
                    svg(width='40' height='18' viewBox='0 0 40 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M30.5 16.5L38 9L30.5 1.5' stroke='#171F36' stroke-width='2')
                        rect(width='38' height='2' transform='matrix(-1 0 0 1 38 8)' fill='#171F36')

    section.youtube.insta
        .section
            .youtube__header
                h2._title.section__title Instagram лента

                .youtube__btns.insta__btns
                    a.button.youtube__button(href="youtube.com") <span>наш instagram</span>

                    a(href="#").first__share.youtube__share

                        svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                            rect(x='0.5' y='0.5' width='39' height='39' rx='19.5' stroke='url(#paint066_linear)')
                            path(d='M27 19.4239L21.4954 13.9193V17.5854C17.3558 17.5854 14 20.9412 14 25.0808C15.5207 22.3089 18.5379 20.8796 21.4954 21.246V24.9285L27 19.4239Z' fill='url(#paint155_linear)')
                            defs
                                lineargradient#paint066_linear(x1='7.5' y1='0.5' x2='31' y2='41.5' gradientUnits='userSpaceOnUse')
                                    stop(stop-color='#4B62D4')
                                    stop(offset='1' stop-color='#DC2D76')
                                lineargradient#paint155_linear(x1='16.4375' y1='14.0588' x2='22.4589' y2='26.2947' gradientUnits='userSpaceOnUse')
                                    stop(stop-color='#4B62D4')
                                    stop(offset='1' stop-color='#DC2D76')

            p.youtube__desc В нашем instagram аккаунте вы можете ознакомиться с последними новостями нашей компании и найти больше фотографий наших кабинок


        ._containerw.swiper-container.insta__container
            ._wrapper.swiper-wrapper

                a(href="img/insta_img-1.jpg" data-fancybox)._slide.swiper-slide
                    .insta__i-img
                        img(src="img/insta_img-1.jpg", alt="Фотография")

                        .insta__i-link
                            svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(x='0.5' y='0.5' width='39' height='39' rx='19.5' stroke='white')
                                path(d='M27 19.4239L21.4954 13.9193V17.5854C17.3558 17.5854 14 20.9412 14 25.0808C15.5207 22.3089 18.5379 20.8796 21.4954 21.246V24.9285L27 19.4239Z' fill='white')

                a(href="img/insta_img-2.jpg" data-fancybox)._slide.swiper-slide
                    .insta__i-img
                        img(src="img/insta_img-2.jpg", alt="Фотография")

                        .insta__i-link
                            svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(x='0.5' y='0.5' width='39' height='39' rx='19.5' stroke='white')
                                path(d='M27 19.4239L21.4954 13.9193V17.5854C17.3558 17.5854 14 20.9412 14 25.0808C15.5207 22.3089 18.5379 20.8796 21.4954 21.246V24.9285L27 19.4239Z' fill='white')

                a(href="img/insta_img-3.jpg" data-fancybox)._slide.swiper-slide
                    .insta__i-img
                        img(src="img/insta_img-3.jpg", alt="Фотография")

                        .insta__i-link
                            svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(x='0.5' y='0.5' width='39' height='39' rx='19.5' stroke='white')
                                path(d='M27 19.4239L21.4954 13.9193V17.5854C17.3558 17.5854 14 20.9412 14 25.0808C15.5207 22.3089 18.5379 20.8796 21.4954 21.246V24.9285L27 19.4239Z' fill='white')

                a(href="img/insta_img-1.jpg" data-fancybox)._slide.swiper-slide
                    .insta__i-img
                        img(src="img/insta_img-1.jpg", alt="Фотография")

                        .insta__i-link
                            svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(x='0.5' y='0.5' width='39' height='39' rx='19.5' stroke='white')
                                path(d='M27 19.4239L21.4954 13.9193V17.5854C17.3558 17.5854 14 20.9412 14 25.0808C15.5207 22.3089 18.5379 20.8796 21.4954 21.246V24.9285L27 19.4239Z' fill='white')

                a(href="img/insta_img-2.jpg" data-fancybox)._slide.swiper-slide
                    .insta__i-img
                        img(src="img/insta_img-2.jpg", alt="Фотография")

                        .insta__i-link
                            svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(x='0.5' y='0.5' width='39' height='39' rx='19.5' stroke='white')
                                path(d='M27 19.4239L21.4954 13.9193V17.5854C17.3558 17.5854 14 20.9412 14 25.0808C15.5207 22.3089 18.5379 20.8796 21.4954 21.246V24.9285L27 19.4239Z' fill='white')

                a(href="img/insta_img-3.jpg" data-fancybox)._slide.swiper-slide
                    .insta__i-img
                        img(src="img/insta_img-3.jpg", alt="Фотография")

                        .insta__i-link
                            svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(x='0.5' y='0.5' width='39' height='39' rx='19.5' stroke='white')
                                path(d='M27 19.4239L21.4954 13.9193V17.5854C17.3558 17.5854 14 20.9412 14 25.0808C15.5207 22.3089 18.5379 20.8796 21.4954 21.246V24.9285L27 19.4239Z' fill='white')

                a(href="img/insta_img-1.jpg" data-fancybox)._slide.swiper-slide
                    .insta__i-img
                        img(src="img/insta_img-1.jpg", alt="Фотография")

                        .insta__i-link
                            svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(x='0.5' y='0.5' width='39' height='39' rx='19.5' stroke='white')
                                path(d='M27 19.4239L21.4954 13.9193V17.5854C17.3558 17.5854 14 20.9412 14 25.0808C15.5207 22.3089 18.5379 20.8796 21.4954 21.246V24.9285L27 19.4239Z' fill='white')

                a(href="img/insta_img-2.jpg" data-fancybox)._slide.swiper-slide
                    .insta__i-img
                        img(src="img/insta_img-2.jpg", alt="Фотография")

                        .insta__i-link
                            svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(x='0.5' y='0.5' width='39' height='39' rx='19.5' stroke='white')
                                path(d='M27 19.4239L21.4954 13.9193V17.5854C17.3558 17.5854 14 20.9412 14 25.0808C15.5207 22.3089 18.5379 20.8796 21.4954 21.246V24.9285L27 19.4239Z' fill='white')

                a(href="img/insta_img-3.jpg" data-fancybox)._slide.swiper-slide
                    .insta__i-img
                        img(src="img/insta_img-3.jpg", alt="Фотография")

                        .insta__i-link
                            svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                                rect(x='0.5' y='0.5' width='39' height='39' rx='19.5' stroke='white')
                                path(d='M27 19.4239L21.4954 13.9193V17.5854C17.3558 17.5854 14 20.9412 14 25.0808C15.5207 22.3089 18.5379 20.8796 21.4954 21.246V24.9285L27 19.4239Z' fill='white')



            ._pagination.swiper-pagination.first__pagination.inst-pag


        .section
            .youtube__scrollbar.swiper-scrollbar

            .youtube__nav-btns
                .youtube__prev.swiper-button-prev.inst-prev
                    svg(width='40' height='18' viewBox='0 0 40 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M30.5 16.5L38 9L30.5 1.5' stroke='#171F36' stroke-width='2')
                        rect(width='38' height='2' transform='matrix(-1 0 0 1 38 8)' fill='#171F36')

                .youtube__next.swiper-button-next.inst-next
                    svg(width='40' height='18' viewBox='0 0 40 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M30.5 16.5L38 9L30.5 1.5' stroke='#171F36' stroke-width='2')
                        rect(width='38' height='2' transform='matrix(-1 0 0 1 38 8)' fill='#171F36')


    section.deliv.section
        h2._title.section__title.section__title--circle Доставка
            span и установка

        ._columns
            ._c-deliv
                ._icon
                    svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M25 7.20864V7.19864L32.485 10.5511L40 7.73364L20 0.233643L0 7.73364L20 15.2336L27.485 12.4261L20 9.34114V9.33364L25 7.20864Z' fill='url(#paint088_linear)')
                        path(d='M0 10.2336V32.7336L18.75 39.7661V17.2661L0 10.2336ZM10 32.8161L5 30.9411V28.2736L10 30.1486V32.8161Z' fill='url(#paint177_linear)')
                        path(d='M32.5 13.0461V19.3086L27.5 21.1836V14.9211L21.25 17.2661V39.7661L40 32.7336V10.2336L32.5 13.0461Z' fill='url(#paint288_linear)')
                        defs
                            lineargradient#paint088_linear(x1='40.6857' y1='-7.39136' x2='-18.3272' y2='46.5633' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')
                            lineargradient#paint177_linear(x1='19.0714' y1='-4.77872' x2='-29.4167' y2='5.77608' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')
                            lineargradient#paint288_linear(x1='40.3214' y1='-4.77872' x2='-8.16674' y2='5.77608' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')


                p._text
                    span Доставка
                    |  осуществляется транспортными компании в любую точку мира и рассчитывается индивидуально менеджером согласно заказанным товарным позициям

            ._c-mont
                ._icon
                    svg(width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip11)')
                            path(d='M22.1305 19.1744C22.5913 18.9387 23.1046 18.8141 23.6372 18.8141C24.5199 18.8141 25.3497 19.1568 25.9752 19.7791L27.3218 18.4326C30.6541 19.6007 34.5082 18.8529 37.1722 16.1891C39.4136 13.9476 40.2976 10.8637 39.8257 7.95668C39.7738 7.63655 39.5471 7.3725 39.2386 7.27288C38.93 7.17313 38.5913 7.25419 38.3621 7.48358L36.3627 9.48297C34.7345 11.1112 32.0944 11.1112 30.4662 9.48297C28.8378 7.85474 28.8378 5.21468 30.4662 3.58645L32.4656 1.58706C32.695 1.35767 32.7767 1.01898 32.6768 0.710313C32.5771 0.401507 32.3126 0.175395 31.9923 0.123404C29.0855 -0.34847 26.0014 0.53551 23.7601 2.77698C21.0565 5.4805 20.3289 9.40942 21.5723 12.7752L18.6519 15.6957L22.1305 19.1744Z' fill='url(#paint0w_linear)')
                            path(d='M16.8087 24.4667L13.3447 21.0027L1.23191 33.1153C-0.343092 34.6903 -0.343092 37.2439 1.23191 38.8189C2.80692 40.3939 5.36047 40.3939 6.93548 38.8189L17.3774 28.3771C16.3242 27.3183 16.1344 25.7198 16.8087 24.4667Z' fill='url(#paint1ee_linear)')
                            path(d='M24.5349 21.2325C24.2872 20.9848 23.9624 20.8609 23.6378 20.8609C23.3132 20.8609 22.9884 20.9848 22.7407 21.2325L22.0176 21.9556L9.13703 9.07494L9.73908 8.47289C10.2876 7.92446 10.2196 7.01469 9.5943 6.55428L4.339 2.6839C3.83397 2.31205 3.13312 2.36486 2.68963 2.80835L0.458255 5.03986C0.0147645 5.48335 -0.038045 6.18434 0.333805 6.68924L4.20405 11.9445C4.66446 12.5697 5.57368 12.6384 6.12266 12.0893L6.72471 11.4871L19.6053 24.3677L18.8313 25.1417C18.3358 25.6372 18.3358 26.4404 18.8313 26.9359L30.714 38.8186C32.289 40.3936 34.8426 40.3936 36.4176 38.8186C37.9926 37.2436 37.9926 34.69 36.4176 33.115L24.5349 21.2325Z' fill='url(#paint2tt_linear)')
                        defs
                            lineargradient#paint0w_linear(x1='40.314' y1='-10.054' x2='-10.4517' y2='8.68745' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')
                            lineargradient#paint1ee_linear(x1='17.6745' y1='11.3456' x2='-25.076' y2='24.714' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')
                            lineargradient#paint2tt_linear(x1='38.2419' y1='-16.6578' x2='-52.701' y2='14.4804' gradientUnits='userSpaceOnUse')
                                stop(stop-color='#8E1FE6')
                                stop(offset='1' stop-color='#531FE6')
                            clippath#clip11
                                rect(width='40' height='40' fill='white')

                p._text
                    span Монтаж
                    |  осуществляется самостоятельно согласно поставляемой с изделиями инструкцией или установщиками IzoCab™ вне зависимости от географии заказа

        a(href="delivery.html")._link На страницу
            span
                svg(width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M2.00366 0.500488H9.50366V8.00049' stroke='url(#paint0_linear)')
                    rect(x='8.96173' y='0.362305' width='1' height='12.6752' transform='rotate(45 8.96173 0.362305)' fill='url(#paint1_linear)')
                    defs
                        lineargradient#paint0_linear(x1='9.63223' y1='-3.31201' x2='-8.54527' y2='2.92027' gradientUnits='userSpaceOnUse')
                            stop(stop-color='#8E1FE6')
                            stop(offset='1' stop-color='#531FE6')
                        lineargradient#paint1_linear(x1='9.97887' y1='-6.08092' x2='7.27228' y2='-6.00771' gradientUnits='userSpaceOnUse')
                            stop(stop-color='#8E1FE6')
                            stop(offset='1' stop-color='#531FE6')

    section.form
        ._columns
            ._left
                img(src="img/form_img-1.jpg" alt="vocaton")

            ._right
                ._wrap

                    ._f-columns
                        ._f-column
                            p._t-label Номера
                            ._links
                                a._link(href="tel:+74957641981") +7 (495) 764-19-81
                                a._link(href="tel:+79857641981") +7 (985) 764-19-81
                                a._link(href="tel:+78129201368") +7 (812) 920-13-68
                                a._link(href="tel:+79119201368") +7 (911) 920-13-68

                        ._f-column
                            p._t-label.form__t-label-mail Почта
                            a._link.form__link-mail(href="mailto:info@vocaton.com") info@vocaton.com

                            p._t-label Соцсети

                            ._socials

                                a._social(href="#")
                                    svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M19.9804 5.88005C19.9336 4.81738 19.7617 4.0868 19.5156 3.45374C19.2616 2.78176 18.8709 2.18014 18.359 1.68002C17.8589 1.1721 17.2533 0.777435 16.5891 0.527447C15.9524 0.281274 15.2256 0.109427 14.163 0.0625732C13.0924 0.0117516 12.7525 0 10.0371 0C7.32173 0 6.98185 0.0117516 5.91521 0.0586052C4.85253 0.105459 4.12195 0.277459 3.48904 0.523479C2.81692 0.777435 2.2153 1.16814 1.71517 1.68002C1.20726 2.18014 0.812743 2.78573 0.562603 3.44992C0.31643 4.0868 0.144583 4.81341 0.0977294 5.87609C0.0469078 6.9467 0.0351562 7.28658 0.0351562 10.002C0.0351562 12.7173 0.0469078 13.0572 0.0937614 14.1239C0.140615 15.1865 0.312615 15.9171 0.558787 16.5502C0.812743 17.2221 1.20726 17.8238 1.71517 18.3239C2.2153 18.8318 2.82088 19.2265 3.48508 19.4765C4.12195 19.7226 4.84856 19.8945 5.91139 19.9413C6.97788 19.9883 7.31791 19.9999 10.0333 19.9999C12.7487 19.9999 13.0885 19.9883 14.1552 19.9413C15.2179 19.8945 15.9484 19.7226 16.5813 19.4765C17.9254 18.9568 18.9881 17.8941 19.5078 16.5502C19.7538 15.9133 19.9258 15.1865 19.9727 14.1239C20.0195 13.0572 20.0313 12.7173 20.0313 10.002C20.0313 7.28658 20.0273 6.9467 19.9804 5.88005ZM18.1794 14.0457C18.1364 15.0225 17.9723 15.5499 17.8356 15.9015C17.4995 16.7728 16.808 17.4643 15.9367 17.8004C15.5851 17.9372 15.0538 18.1012 14.0809 18.1441C13.026 18.1911 12.7096 18.2027 10.0411 18.2027C7.37255 18.2027 7.05221 18.1911 6.00113 18.1441C5.02438 18.1012 4.49693 17.9372 4.1453 17.8004C3.71171 17.6402 3.31704 17.3862 2.9967 17.0541C2.6646 16.7298 2.41065 16.3391 2.2504 15.9055C2.11366 15.5539 1.94959 15.0225 1.90671 14.0497C1.8597 12.9948 1.8481 12.6783 1.8481 10.0097C1.8481 7.34122 1.8597 7.02087 1.90671 5.96995C1.94959 4.99319 2.11366 4.46575 2.2504 4.11412C2.41065 3.68038 2.6646 3.28586 3.00067 2.96536C3.32483 2.63327 3.71553 2.37931 4.14927 2.21921C4.5009 2.08247 5.03231 1.9184 6.0051 1.87537C7.05999 1.82851 7.37652 1.81676 10.0449 1.81676C12.7174 1.81676 13.0337 1.82851 14.0848 1.87537C15.0616 1.9184 15.589 2.08247 15.9407 2.21921C16.3742 2.37931 16.7689 2.63327 17.0893 2.96536C17.4214 3.28967 17.6753 3.68038 17.8356 4.11412C17.9723 4.46575 18.1364 4.99701 18.1794 5.96995C18.2263 7.02484 18.238 7.34122 18.238 10.0097C18.238 12.6783 18.2263 12.9908 18.1794 14.0457Z' fill='#171F36')
                                        path(d='M10.0371 4.86426C7.20074 4.86426 4.89941 7.16543 4.89941 10.002C4.89941 12.8385 7.20074 15.1397 10.0371 15.1397C12.8737 15.1397 15.1749 12.8385 15.1749 10.002C15.1749 7.16543 12.8737 4.86426 10.0371 4.86426ZM10.0371 13.3347C8.19702 13.3347 6.70442 11.8422 6.70442 10.002C6.70442 8.16172 8.19702 6.66927 10.0371 6.66927C11.8774 6.66927 13.3698 8.16172 13.3698 10.002C13.3698 11.8422 11.8774 13.3347 10.0371 13.3347Z' fill='#171F36')
                                        path(d='M16.5787 4.66085C16.5787 5.32321 16.0416 5.86028 15.3791 5.86028C14.7168 5.86028 14.1797 5.32321 14.1797 4.66085C14.1797 3.99834 14.7168 3.46143 15.3791 3.46143C16.0416 3.46143 16.5787 3.99834 16.5787 4.66085Z' fill='#171F36')

                                a._social(href="#")
                                    svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M14.9992 0.00416134L12.4057 0C9.49197 0 7.60899 1.9319 7.60899 4.92203V7.19141H5.00131C4.77598 7.19141 4.59351 7.37409 4.59351 7.59943V10.8875C4.59351 11.1128 4.77619 11.2953 5.00131 11.2953H7.60899V19.5922C7.60899 19.8175 7.79146 20 8.01679 20H11.4191C11.6444 20 11.8269 19.8173 11.8269 19.5922V11.2953H14.8759C15.1012 11.2953 15.2837 11.1128 15.2837 10.8875L15.2849 7.59943C15.2849 7.49123 15.2418 7.38762 15.1655 7.31105C15.0891 7.23448 14.9851 7.19141 14.8769 7.19141H11.8269V5.26763C11.8269 4.34298 12.0472 3.87358 13.2517 3.87358L14.9988 3.87295C15.2239 3.87295 15.4064 3.69027 15.4064 3.46514V0.411972C15.4064 0.187052 15.2242 0.00457747 14.9992 0.00416134Z' fill='#171F36')


                                a._social(href="#")
                                    svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M19.894 14.5997C19.8698 14.5475 19.8472 14.5042 19.8262 14.4696C19.4792 13.8446 18.8161 13.0775 17.8373 12.1681L17.8166 12.1472L17.8063 12.137L17.7958 12.1266H17.7853C17.341 11.7031 17.0597 11.4183 16.9419 11.2726C16.7264 10.9949 16.6781 10.7138 16.7959 10.429C16.8791 10.2138 17.1918 9.75932 17.7331 9.06499C18.0178 8.69702 18.2433 8.4021 18.4099 8.17991C19.611 6.58314 20.1317 5.56279 19.9719 5.11844L19.9099 5.01461C19.8682 4.95209 19.7606 4.8949 19.5872 4.84275C19.4135 4.7907 19.1914 4.78209 18.9206 4.81678L15.9217 4.8375C15.8731 4.82028 15.8037 4.82189 15.7134 4.84275C15.6231 4.86361 15.5779 4.87408 15.5779 4.87408L15.5257 4.90016L15.4843 4.93149C15.4496 4.9522 15.4114 4.98864 15.3697 5.04072C15.3282 5.09262 15.2936 5.15353 15.2658 5.22294C14.9393 6.06294 14.5681 6.84392 14.1515 7.56586C13.8946 7.99634 13.6587 8.36942 13.4433 8.68531C13.2281 9.00109 13.0476 9.23375 12.9019 9.38288C12.756 9.53217 12.6244 9.65176 12.5061 9.7421C12.3881 9.83248 12.298 9.87067 12.2355 9.8567C12.173 9.84273 12.1141 9.82887 12.0583 9.81501C11.9612 9.7525 11.8831 9.66748 11.8242 9.55988C11.765 9.45229 11.7252 9.31687 11.7044 9.15373C11.6836 8.99048 11.6714 8.85006 11.6679 8.732C11.6646 8.61408 11.6661 8.44729 11.6732 8.2321C11.6804 8.01681 11.6836 7.87113 11.6836 7.79476C11.6836 7.53092 11.6888 7.24457 11.6991 6.93565C11.7096 6.62673 11.7181 6.38196 11.7252 6.20164C11.7323 6.02114 11.7356 5.83017 11.7356 5.62884C11.7356 5.42751 11.7233 5.26962 11.6991 5.15503C11.6752 5.04057 11.6385 4.92948 11.5901 4.82178C11.5414 4.71418 11.4701 4.63095 11.3766 4.57187C11.2829 4.51285 11.1664 4.46602 11.0278 4.43123C10.6598 4.34796 10.1912 4.30292 9.62185 4.29592C8.33069 4.28206 7.50105 4.36543 7.13311 4.54593C6.98733 4.6222 6.85541 4.7264 6.73746 4.85821C6.61247 5.011 6.59504 5.09437 6.68527 5.10809C7.10186 5.17049 7.39677 5.31977 7.57035 5.55579L7.6329 5.68085C7.68155 5.77108 7.73013 5.93083 7.77875 6.15988C7.8273 6.38893 7.85863 6.6423 7.87241 6.91986C7.90706 7.42672 7.90706 7.86059 7.87241 8.22153C7.83765 8.5826 7.80483 8.8637 7.7735 9.06503C7.74217 9.26635 7.69534 9.4295 7.6329 9.55441C7.57035 9.67937 7.52873 9.75574 7.50787 9.78346C7.48704 9.81118 7.46968 9.82865 7.4559 9.83551C7.36566 9.87008 7.27182 9.8877 7.17469 9.8877C7.07742 9.8877 6.95947 9.83905 6.82065 9.74181C6.68188 9.64457 6.53785 9.51101 6.38856 9.3409C6.23928 9.17076 6.07093 8.933 5.88342 8.62757C5.69606 8.32215 5.50166 7.96119 5.30033 7.54467L5.13376 7.2426C5.02963 7.04828 4.88739 6.76532 4.70689 6.394C4.52628 6.02252 4.36664 5.6632 4.22786 5.31609C4.17238 5.17031 4.08904 5.05932 3.97799 4.98295L3.92587 4.95162C3.89122 4.9239 3.8356 4.89447 3.7593 4.8631C3.68289 4.83177 3.60316 4.8093 3.51978 4.79548L0.666572 4.8162C0.375011 4.8162 0.177184 4.88225 0.073018 5.01417L0.0313299 5.07657C0.0105041 5.11133 0 5.16684 0 5.24325C0 5.31963 0.0208258 5.41336 0.0625139 5.52435C0.47903 6.50327 0.931983 7.44736 1.42137 8.35677C1.91076 9.26617 2.33603 9.99872 2.69692 10.5538C3.05789 11.1092 3.42583 11.6334 3.80073 12.1262C4.17563 12.6191 4.42379 12.935 4.54521 13.0738C4.66677 13.2128 4.76225 13.3167 4.83166 13.3861L5.09204 13.636C5.25865 13.8027 5.5033 14.0022 5.82612 14.2347C6.14901 14.4674 6.50648 14.6965 6.89871 14.9223C7.291 15.1477 7.74739 15.3317 8.2681 15.4739C8.78875 15.6164 9.2955 15.6735 9.78842 15.6459H10.986C11.2288 15.625 11.4128 15.5486 11.5379 15.4168L11.5793 15.3646C11.6072 15.3232 11.6333 15.2588 11.6573 15.1722C11.6817 15.0854 11.6938 14.9898 11.6938 14.8858C11.6867 14.5874 11.7094 14.3184 11.7614 14.0789C11.8133 13.8395 11.8724 13.659 11.9386 13.5374C12.0047 13.416 12.0793 13.3135 12.1624 13.2304C12.2456 13.1471 12.3049 13.0967 12.3397 13.0793C12.3743 13.0619 12.4019 13.05 12.4227 13.0429C12.5893 12.9874 12.7854 13.0412 13.0112 13.2044C13.2369 13.3676 13.4486 13.569 13.6465 13.8084C13.8444 14.048 14.0821 14.3169 14.3597 14.6153C14.6376 14.9139 14.8805 15.1358 15.0886 15.2818L15.2968 15.4068C15.4359 15.4902 15.6164 15.5665 15.8386 15.636C16.0604 15.7053 16.2547 15.7227 16.4215 15.688L19.0872 15.6464C19.3509 15.6464 19.556 15.6028 19.7015 15.5161C19.8474 15.4294 19.934 15.3338 19.9619 15.2298C19.9898 15.1257 19.9913 15.0076 19.9672 14.8756C19.9425 14.7439 19.9182 14.6518 19.894 14.5997Z' fill='#171F36')

                                a._social(href="#")
                                    svg(width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M20.8768 5.84484C20.6391 4.96125 19.9424 4.26473 19.059 4.02681C17.445 3.58521 10.989 3.58521 10.989 3.58521C10.989 3.58521 4.53324 3.58521 2.91927 4.01007C2.05281 4.24774 1.33916 4.96138 1.10149 5.84484C0.676758 7.45868 0.676758 10.8056 0.676758 10.8056C0.676758 10.8056 0.676758 14.1693 1.10149 15.7663C1.33942 16.6498 2.03581 17.3463 2.9194 17.5842C4.55024 18.026 10.9893 18.026 10.9893 18.026C10.9893 18.026 17.445 18.026 19.059 17.6011C19.9426 17.3633 20.6391 16.6668 20.877 15.7833C21.3016 14.1693 21.3016 10.8226 21.3016 10.8226C21.3016 10.8226 21.3186 7.45868 20.8768 5.84484ZM8.93355 13.8976V7.7136L14.302 10.8056L8.93355 13.8976Z' fill='#171F36')

                    ._bottom
                        p._b-title Форма для связи

                        ._items
                            ._item.calc__c-item

                                label._label.calc__label(for="f-name") Ваше имя <span>*</span>
                                input._input.calc__input(type="text" placeholder="Иван" name="f-name" id="f-name")

                            ._item.calc__c-item
                                label._label.calc__label(for="f-email") Ваш E-mail
                                input._input.calc__input(type="text" placeholder="ivan@yandex.ru" name="f-email" id="f-email")

                        ._item.calc__c-item
                            label._label.calc__label(for="f-text") Ваш комментарий
                            textarea._textarea.calc__textarea(type="text" placeholder="Я хочу..." name="f-text" id="f-text")


                    ._btns
                        p._req Заполните обязательные поля ( <span>*</span> )

                        button.__button.button(type="submit")
                            span Отправить сообщение
