extends ../layout/default

block content
    .breadcrumbs.section
        ul._list
            li._item
                a(href="/")._item-text Главная

            li._item
                a(href="#")._item-text Звукоизоляционные кабины Vocaton

            li._item
                span._item-text Vocaton<sub>™</sub> Air Plus


    section.product.section
        ._wrap
            ._left

                ._l-wrap
                    ._main-img
                        img(src="img/product/02.png", alt="Конструктор")._outer-img
                        img(src="img/product/19.png", alt="Конструктор")._inner-img


                    ._alt-imgs
                        a(href="img/product/1.png" data-fancybox="gallery")._alt-img
                            img(src="img/product/1.png", alt="gallery")
                        a(href="img/product/2.png" data-fancybox="gallery")._alt-img
                            img(src="img/product/2.png", alt="gallery")
                        a(href="img/product/3.png" data-fancybox="gallery")._alt-img
                            img(src="img/product/3.png", alt="gallery")
                        a(href="img/product/4.png" data-fancybox="gallery")._alt-img
                            img(src="img/product/4.png", alt="gallery")


            ._right
                h1._title.section__title--circle.section__title Vocaton<sub>™ </sub> Air Plus

                ._profile
                    p._profile-title.product__sub-title Габариты
                    ._g-item
                        p._g-text 130 <span>*</span> 130 <span>*</span> 220 см <span class="product__g-item-text"> - размеры снаружи</span>
                        p._g-text 100 <span>*</span> 100 <span>*</span> 200 см <span class="product__g-item-text"> - размеры внутри</span>
                        p._g-text 395 кг<span class="product__g-item-text"> - вес кабины</span>

                ._c-items
                    p._c-title.product__sub-title Выберите цвет отделки

                    ._c-item
                        span Снаружи
                        ._c-outer.calc__c-colors
                            .calc__c-color-wrap
                                input(type="radio" id="02" name="c-color-out" checked)
                                label.calc__c-color(for="02" style="background: #F5D9A0")
                            .calc__c-color-wrap
                                input(type="radio" id="05" name="c-color-out")
                                label.calc__c-color(for="05" style="background: #3623FB")
                            .calc__c-color-wrap
                                input(type="radio" id="04" name="c-color-out")
                                label.calc__c-color(for="04" style="background: #FD302B")
                            .calc__c-color-wrap
                                input(type="radio" id="06" name="c-color-out")
                                label.calc__c-color(for="06" style="background: #BABABA")
                            .calc__c-color-wrap
                                input(type="radio" id="03" name="c-color-out")
                                label.calc__c-color(for="03" style="background: #363636")
                            .calc__c-color-wrap
                                input(type="radio" id="01" name="c-color-out")
                                label.calc__c-color(for="01" style="background: #000000")

                    ._c-item
                        span Внутри
                        ._c-inner.calc__c-colors
                            .calc__c-color-wrap
                                input(type="radio" id="19" name="c-color" checked)
                                label.calc__c-color(for="19" style="background: #8343A3")
                            .calc__c-color-wrap
                                input(type="radio" id="11" name="c-color")
                                label.calc__c-color(for="11" style="background: #871000")
                            .calc__c-color-wrap
                                input(type="radio" id="15" name="c-color")
                                label.calc__c-color(for="15" style="background: #FFE600")
                            .calc__c-color-wrap
                                input(type="radio" id="16" name="c-color")
                                label.calc__c-color(for="16" style="background: #FF8428")
                            .calc__c-color-wrap
                                input(type="radio" id="14" name="c-color")
                                label.calc__c-color(for="14" style="background: #2BE985")
                            .calc__c-color-wrap
                                input(type="radio" id="12" name="c-color")
                                label.calc__c-color(for="12" style="background: #65DBFF")
                            .calc__c-color-wrap
                                input(type="radio" id="18" name="c-color")
                                label.calc__c-color(for="18" style="background: #3623FB")
                            .calc__c-color-wrap
                                input(type="radio" id="17" name="c-color")
                                label.calc__c-color(for="17" style="background: #E24466")
                            .calc__c-color-wrap
                                input(type="radio" id="13" name="c-color")
                                label.calc__c-color(for="13" style="background: #363636")

                ._p-wrap
                    ._p-prices
                        p._p-old 61 000 <span>₽</span>
                        p._p-main 45 750 <span>₽</span>

                    ._p-btns
                        button(type="button")._p-btn.button.product__add-cart
                            span В корзину

                        button(type="button")._p-btn.button-reverse.product__credit В кредит


                ._h-items
                    h2._h-title Характеристики

                    ._h-item
                        p._h-header Описание товара
                            span
                                svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(y='4' width='10' height='2' fill='#ABB1BF')
                                    rect._svg-vert-line(x='4' y='10' width='10' height='2' transform='rotate(-90 4 10)' fill='#ABB1BF')
                        p._h-content
                            | Звукоизоляционная кабина IzoCab™ Base позволит Вам заниматься творчеством и мультимедиа продакшном в правильной акустике, не беспокоя при этом соседей. В акустической кабине Base есть все для полноценной работы: вентиляция, удобная полка для оборудования, кабель-порт для внешней коммутации, сетевой фильтр. Оконный модуль звукоизоляционной будки можно разместить справа или слева во время установки.
                    ._h-item
                        p._h-header Особенности акустической кабины
                            span
                                svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(y='4' width='10' height='2' fill='#ABB1BF')
                                    rect._svg-vert-line(x='4' y='10' width='10' height='2' transform='rotate(-90 4 10)' fill='#ABB1BF')
                        p._h-content
                            | Звукоизоляционная кабина IzoCab™ Base позволит Вам заниматься творчеством и мультимедиа продакшном в правильной акустике, не беспокоя при этом соседей. В акустической кабине Base есть все для полноценной работы: вентиляция, удобная полка для оборудования, кабель-порт для внешней коммутации, сетевой фильтр. Оконный модуль звукоизоляционной будки можно разместить справа или слева во время установки.
                    ._h-item
                        p._h-header Комплект поставки
                            span
                                svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(y='4' width='10' height='2' fill='#ABB1BF')
                                    rect._svg-vert-line(x='4' y='10' width='10' height='2' transform='rotate(-90 4 10)' fill='#ABB1BF')
                        p._h-content
                            | Звукоизоляционная кабина IzoCab™ Base позволит Вам заниматься творчеством и мультимедиа продакшном в правильной акустике, не беспокоя при этом соседей. В акустической кабине Base есть все для полноценной работы: вентиляция, удобная полка для оборудования, кабель-порт для внешней коммутации, сетевой фильтр. Оконный модуль звукоизоляционной будки можно разместить справа или слева во время установки.

    section.intr.section
        h2._title.section__title.section__title--circle
            span._t-text Вас может
            span._t-text.intr__t-second заинтересовать

        .goods__list

            .goods__item
                a(href="#").goods__item-link
                    .goods__img-wrap
                        .goods__actions
                            .goods__action.goods__time
                                p.goods__action-text Успей купить

                            .goods__action.goods__sale
                                p.goods__action-text -25
                                    span %

                        img(src="img/goods/1.png", alt="Vocaton")

                    p.goods__type Дизайнерский свет

                    .goods__prices
                        p.goods__old-price 61 000
                            span ₽

                        p.goods__price 45 750
                            span ₽

                .goods__btns
                    button(type="button").goods__btn.goods__btn-cart.button
                        span В корзину

                    button(type="button").goods__btn.goods__btn-cred.button-reverse
                        span Подробнее

            .goods__item
                a(href="#").goods__item-link
                    .goods__img-wrap
                        .goods__actions
                            .goods__action.goods__time
                                p.goods__action-text Успей купить

                            .goods__action.goods__sale
                                p.goods__action-text -25
                                    span %

                        img(src="img/goods/1.png", alt="Vocaton")

                    p.goods__type Кастомный стол

                    .goods__prices

                        p.goods__price 9 500
                            span ₽

                .goods__btns
                    button(type="button").goods__btn.goods__btn-cart.button
                        span В корзину

                    button(type="button").goods__btn.goods__btn-cred.button-reverse
                        span Подробнее

            .goods__item
                a(href="#").goods__item-link
                    .goods__img-wrap

                        img(src="img/goods/1.png", alt="Vocaton")

                    p.goods__type Внешняя вентиляция

                    .goods__prices

                        p.goods__price 19 500
                            span ₽

                .goods__btns
                    button(type="button").goods__btn.goods__btn-cart.button
                        span В корзину

                    button(type="button").goods__btn.goods__btn-cred.button-reverse
                        span Подробнее

            .goods__item
                a(href="#").goods__item-link
                    .goods__img-wrap

                        img(src="img/goods/1.png", alt="Vocaton")

                    p.goods__type Рулонная занавеска

                    .goods__prices

                        p.goods__price 15 500
                            span ₽

                .goods__btns
                    button(type="button").goods__btn.goods__btn-cart.button
                        span В корзину

                    button(type="button").goods__btn.goods__btn-cred.button-reverse
                        span Подробнее

    section.calc.section.calc-prod
        h2._title.section__title Кабинка по вашим размерам

        ._columns
            ._left
                p._desc Звукоизоляционная кабина <span>Vocaton™ по вашим размерам</span> позволит Вам полноценно заниматься творчеством и мультимедиа продакшном в правильной акустике

                //- ._l-img
                //-     img(src="img/calc-img2.png", alt="Vocaton")

            ._right
                ._item.calc__f-item.active
                    ._header
                        ._number
                            span._number-prev Шаг
                            span._number-text 01

                        ._h-desc
                            p._h-name Параметры кабинки
                            p._h-desc-name Заполните обязательные поля ( <span>*</span> ) для перехода к следующему шагу

                        button(type="button")._f-check.button-reverse.disable

                            span Просмотреть

                            i
                                svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M2.0249 13.0585L13.4316 1.6435C13.5491 1.52516 13.7082 1.4585 13.8741 1.4585H13.8749C14.0407 1.4585 14.1999 1.52433 14.3166 1.64183L18.3582 5.6835C18.4757 5.801 18.5416 5.96016 18.5416 6.12516C18.5416 6.291 18.4757 6.45016 18.3582 6.56766L6.94157 17.976L2.0249 13.0585Z' fill='black')
                                    path(d='M18.8066 4.9523L19.2175 4.54147C19.7216 4.03647 20 3.37063 20 2.66647C20 1.94647 19.72 1.27647 19.2191 0.784799C18.2175 -0.226867 16.4566 -0.226034 15.4575 0.783133L15.0466 1.19397L18.8066 4.9523Z' fill='black')
                                    path(d='M1.6865 13.8985L0.0281712 19.1885C-0.0409955 19.4102 0.0181712 19.6527 0.183171 19.8168C0.301505 19.936 0.461505 20.0002 0.624838 20.0002C0.687338 20.0002 0.749838 19.991 0.812338 19.9718L6.1015 18.3135L1.6865 13.8985Z' fill='black')
                                    path(d='M5.808 7.32331C5.968 7.32331 6.128 7.26248 6.24966 7.13998L10.2847 3.10497C10.5005 2.88997 10.7888 2.80497 11.0713 2.82581L12.058 1.83831C11.2047 1.38164 10.1197 1.50247 9.4005 2.22081L5.3655 6.25581C5.12133 6.49998 5.12133 6.89581 5.3655 7.13998C5.488 7.26164 5.64716 7.32331 5.808 7.32331Z' fill='black')

                    ._item-content
                        ._c-columns
                            ._c-column
                                ._c-item
                                    label._label(for="budget") Ваш бюджет <span>*</span>
                                    input._input(type="text" placeholder="50 - 100 тыс." name="budget" id="budget")

                                ._c-item
                                    label._label(for="size") Размер кабинки (см) и кол-во в ней человек <span>*</span>
                                    input._input(type="text" placeholder="160*160*200 см / 2 человека" name="size" id="size")


                            ._c-column
                                ._c-item
                                    label._label(for="type") Назначение кабины
                                    input._input(type="text" placeholder="Озвучивание фильмов" name="type" id="type")

                                ._c-item
                                    label._label(for="sound") Выберите степень звукоизоляции
                                    select._select(type="text" name="sound" id="sound")
                                        option  Стандартная
                                        option  Продвинутая



                        ._c-columns
                            ._c-column
                                ._c-item
                                    p._label Цвет кабинки внутри
                                    ._c-colors
                                        ._c-color-wrap
                                            input(type="radio" id="c-0" name="c-color")
                                            label._c-color(for="c-0" style="background: #8343A3")
                                        ._c-color-wrap
                                            input(type="radio" id="c-1" name="c-color")
                                            label._c-color(for="c-1" style="background: #871000")
                                        ._c-color-wrap
                                            input(type="radio" id="c-2" name="c-color")
                                            label._c-color(for="c-2" style="background: #FFE600")
                                        ._c-color-wrap
                                            input(type="radio" id="c-3" name="c-color")
                                            label._c-color(for="c-3" style="background: #FF8428")
                                        ._c-color-wrap
                                            input(type="radio" id="c-4" name="c-color")
                                            label._c-color(for="c-4" style="background: #2BE985")
                                        ._c-color-wrap
                                            input(type="radio" id="c-5" name="c-color")
                                            label._c-color(for="c-5" style="background: #65DBFF")
                                        ._c-color-wrap
                                            input(type="radio" id="c-6" name="c-color")
                                            label._c-color(for="c-6" style="background: #3623FB")
                                        ._c-color-wrap
                                            input(type="radio" id="c-7" name="c-color")
                                            label._c-color(for="c-7" style="background: #E24466")
                                        ._c-color-wrap
                                            input(type="radio" id="c-8" name="c-color")
                                            label._c-color(for="c-8" style="background: #363636")


                            ._c-column
                                ._c-item
                                    p._label Цвет кабинки снаружи
                                    ._c-colors
                                        ._c-color-wrap
                                            input(type="radio" id="c-00" name="c-color-out")
                                            label._c-color(for="c-00" style="background: #F5D9A0")
                                        ._c-color-wrap
                                            input(type="radio" id="c-01" name="c-color-out")
                                            label._c-color(for="c-01" style="background: #3623FB")
                                        ._c-color-wrap
                                            input(type="radio" id="c-02" name="c-color-out")
                                            label._c-color(for="c-02" style="background: #FD302B")
                                        ._c-color-wrap
                                            input(type="radio" id="c-03" name="c-color-out")
                                            label._c-color(for="c-03" style="background: #BABABA")
                                        ._c-color-wrap
                                            input(type="radio" id="c-04" name="c-color-out")
                                            label._c-color(for="c-04" style="background: #363636")
                                        ._c-color-wrap
                                            input(type="radio" id="c-05" name="c-color-out")
                                            label._c-color(for="c-05" style="background: #000000")


                        ._c-item.calc__f-last-item
                            label._label(for="design") Укажите ссылку на файл с чертежом
                            input._input(type="text" placeholder="www.dropbox.com/doc_1" name="design" id="design")

                        ._h-desc-name.mobile
                            p Заполните обязательные поля ( <span>*</span> ) для перехода к следующему шагу

                ._item.calc__s-item.non-active
                    ._header
                        ._number
                            span._number-prev Шаг
                            span._number-text 02

                        ._h-desc
                            p._h-name Данные для связи
                            p._h-desc-name Заполните обязательные поля ( <span>*</span> ) для перехода к следующему шагу

                        button(type="button")._s-check.button-reverse
                            span Просмотреть

                        button(type="button")._s-mobile
                            span.see
                                svg(width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M21.9311 10.5425C21.7479 10.2678 17.9019 3.67465 11.0341 3.67465C4.16623 3.67465 0.320281 10.2678 0.137124 10.5425C-0.0460334 10.8172 -0.0460334 11.1835 0.137124 11.4582C0.320281 11.7329 4.16628 18.3261 11.0341 18.3261C17.902 18.3261 21.748 11.7329 21.9311 11.4582C22.0227 11.1835 22.0227 10.8172 21.9311 10.5425ZM11.0341 15.5789C8.4701 15.5789 6.45554 13.5644 6.45554 11.0004C6.45554 8.43639 8.4701 6.42179 11.0341 6.42179C13.5982 6.42179 15.6127 8.43635 15.6127 11.0004C15.6127 13.5644 13.5981 15.5789 11.0341 15.5789Z' fill='#171F36')
                                    path(d='M11.035 8.25327C9.47826 8.25327 8.28784 9.44368 8.28784 11.0004C8.28784 12.5571 9.47826 13.7475 11.035 13.7475C12.5917 13.7475 13.7821 12.5571 13.7821 11.0004C13.7821 9.44368 12.5917 8.25327 11.035 8.25327ZM11.9507 11.0004C11.4013 11.0004 11.035 10.6341 11.035 10.0847C11.035 9.53528 11.4013 9.16901 11.9507 9.16901C12.5001 9.16901 12.8664 9.53528 12.8664 10.0847C12.8664 10.6341 12.5001 11.0004 11.9507 11.0004Z' fill='#171F36')


                            span.edit
                                svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M2.0249 13.0585L13.4316 1.6435C13.5491 1.52516 13.7082 1.4585 13.8741 1.4585H13.8749C14.0407 1.4585 14.1999 1.52433 14.3166 1.64183L18.3582 5.6835C18.4757 5.801 18.5416 5.96016 18.5416 6.12516C18.5416 6.291 18.4757 6.45016 18.3582 6.56766L6.94157 17.976L2.0249 13.0585Z' fill='black')
                                    path(d='M18.8066 4.9523L19.2175 4.54147C19.7216 4.03647 20 3.37063 20 2.66647C20 1.94647 19.72 1.27647 19.2191 0.784799C18.2175 -0.226867 16.4566 -0.226034 15.4575 0.783133L15.0466 1.19397L18.8066 4.9523Z' fill='black')
                                    path(d='M1.6865 13.8985L0.0281712 19.1885C-0.0409955 19.4102 0.0181712 19.6527 0.183171 19.8168C0.301505 19.936 0.461505 20.0002 0.624838 20.0002C0.687338 20.0002 0.749838 19.991 0.812338 19.9718L6.1015 18.3135L1.6865 13.8985Z' fill='black')
                                    path(d='M5.808 7.32331C5.968 7.32331 6.128 7.26248 6.24966 7.13998L10.2847 3.10497C10.5005 2.88997 10.7888 2.80497 11.0713 2.82581L12.058 1.83831C11.2047 1.38164 10.1197 1.50247 9.4005 2.22081L5.3655 6.25581C5.12133 6.49998 5.12133 6.89581 5.3655 7.13998C5.488 7.26164 5.64716 7.32331 5.808 7.32331Z' fill='black')



                    ._item-content
                        ._c-columns
                            ._c-column
                                ._c-item
                                    label._label(for="name") Ваше имя <span>*</span>
                                    input._input(type="text" placeholder="Иван" name="name" id="name")

                                ._c-item
                                    label._label(for="city") Город
                                    input._input(type="text" placeholder="Москва" name="city" id="city")

                                ._c-item
                                    label._label(for="comment") Комментарий
                                    textarea._textarea(name="comment" placeholder="Ваше сообщение")

                            ._c-column
                                ._c-item
                                    label._label(for="number") Номер телефона
                                    input._input(type="text" placeholder="+7 (985) 785-65-83" name="number" id="number")

                                ._c-item
                                    label._label(for="address") Адрес
                                    input._input(type="text" name="address" id="address" placeholder="Ленинградская, 158/5, кв. 7")

                                ._c-item
                                    label._label(for="email") E-mail
                                    input._input(type="text" name="email" id="email" placeholder="ivanka@yandex.ru")

                ._btns
                    button._zapr.button-reverse Запросить стоимость

                    a(href="#")._order.button
                        span Оформить

