extends ../layout/default

block content
    .breadcrumbs.section
        ul._list
            li._item
                a(href="/")._item-text Главная

            li._item
                a(href="#")._item-text Звукоизоляционные кабины Vocaton

            li._item
                span._item-text Vocaton<sub>™</sub> Air Plus


    section.product.section
        ._wrap
            ._left

            ._right
                h1._title.section__title--circle Vocaton<sub>™ </sub> Air Plus

                .profile
